/* This sets the color for "TK" nodes to a light blue green. */
g.type-TK > rect {
    fill: #00ffd0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Droid Sans", sans-serif, "PingFang SC";
}

.node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

.node-item {
    text-align: center;
    cursor: default;
}

.node-item name {
    display: block;
    border: 1px solid #999;
    padding: 2px 10px;
    /* background-color: rgb(51, 85, 130); */
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px 5px 0px 0px;
}

.node-item desc {
    display: block;
    padding: 3px 10px;
    font-weight: 500;
    font-size: 13px;
}